{{ define "main" }}

<section id="list">
    <h2>Könyvek</h2>

    {{ $baseurl := .Site.BaseURL }}
<!-- 
    {{ if eq .Data.Singular "tag" }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}
 -->
    {{ .Content }}

    {{ range (.Paginate (.Data.Pages.GroupByDate "2006")).PageGroups  }}

    <!-- <h3>{{ .Key }}</h3> -->
    <ul>
        {{ range .Pages }}
        <li>
            <a href="{{ .Permalink }}"><img class="listcover" src="{{ .Params.cover }}" /> {{ if .Draft }}DRAFT: {{end}} <strong>{{ .Params.author }}: <em>{{ .Params.booktitle }}</em></strong></a><br/>
            {{ .Params.blurb }}
        </li>
        {{ end }}
    </ul>
    
    {{ end }}

</section>

{{ template "_internal/pagination.html" . }}

{{ end }}