{{ define "main" }}

<section id="list">
    <h2>{{ .Title }}</h2>

    {{ $baseurl := .Site.BaseURL }}
<!-- 
    {{ if eq .Data.Singular "tag" }}
        <h2>#{{ .Title | lower }}</h2>
    {{ else }}
        <h2>{{ .Title }}</h2>
    {{ end }}
 -->
    {{ .Content }}

    <ul>
        {{ range where .Data.Pages "Params.category" "=" "Riportkönyv" }}
        <li>
            <a href="{{ .Permalink }}"><img class="listcover" src="/images/{{ .Params.coverfile }}" /> {{ if .Draft }}DRAFT: {{end}} <strong>{{ .Params.bookauthor }}: <em>{{ .Params.booktitle }}</em></strong></a><br/>
            {{ .Params.abstractshort }}
        </li>
        {{ end }}
    </ul>
    
</section>

{{ template "_internal/pagination.html" . }}

{{ end }}